%p#notice= notice

%h5.border-bottom.py-2 Post List
.border-bottom
  %a.media.my-4.py-5.text-dark{href: "#"}
    .media-body.ml-4
      %h4.mt-0.mb-1 Ruby on Rails is a very smart, fast, and beatiful MVC framework.
      %p.created-time 2020年04月22日 16:00 更新
    = image_pack_tag 'rails-logo.png', class: "mr-4 rounded", style: "width: 100px;"
.border-bottom
  %a.media.my-4.py-5.text-dark{href: "#"}
    .media-body.ml-4
      %h4.mt-0.mb-1 【厳選】Twitter上でのおもしろツイート特集
      %p.created-time 2020年04月22日 16:00 更新
    = image_pack_tag 'duck.jpg', class: "mr-4 rounded", style: "width: 100px;"
.border-bottom
  %a.media.my-4.py-5.text-dark{href: "#"}
    .media-body.ml-4
      %h4.mt-0.mb-1 Ruby on Rails is a very smart, fast, and beatiful MVC framework.
      %p.created-time 2020年04月22日 16:00 更新
    = image_pack_tag 'rails-logo.png', class: "mr-4 rounded", style: "width: 100px;"